:host {
    width: 100%;
    box-sizing: border-box;
}

:host.expanded {
    
}

md-card {
    height: 20%;

    padding: 1%;
     margin-bottom: 1%;
}

/* Content */
div#content {
    height: 100%;

    display: grid;

    grid-template-columns: 20% 1fr;
}

div#content img{
    height: inherit;
    width: 100%;

    grid-column: 1;
}

div#content img.isSelected {
    height: 150px;
}

div#text{
    padding: 2%;
    grid-column: 2;
}

