:host {
    margin: 10px;
    box-sizing: border-box;
}

md-card {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    padding: 0;

    overflow: hidden;

}

img {
    width: 100%;
    opacity: 0.5;

    transition: opacity 1s;
}

img.hoverTarget{
    opacity: 1;
}