:host {
    margin: 10px;

    box-sizing: border-box;

    cursor: pointer;
}

md-card {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;

    max-height: 290px;

    padding: 0;

    overflow: hidden;

}

h1 {
    box-sizing: border-box;
    position: absolute;
    top: 300px;
    width: 100%;
    height: 90px;
    z-index: 10;

    padding: 10px 21px;

    background-color: white;
    text-align: center;

    margin: 0 auto;

    opacity: 0;
    
    transition: 0.4s ease-in-out;    
}

h1.hoverTarget {
    top: 200px;
    opacity: 1;
}

div.imgContainer {
    width: 100%;
    max-height: 300px;
    overflow: hidden;

    position: relative;
    z-index: 10;

}

img {
    width: 250%;
    opacity: 0.25;

    position: relative;

    left: -50px;
    transition: opacity 1s;
}

img.hoverTarget{
    opacity: 0.65;
}

@media screen and (max-width: 500px){

    h1 {
        top: 200px;
        opacity: 1;
    }

    img {
        opacity: 0.65;
    }

}