:host {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

#cardContainer {

    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    
}


@media only screen and (max-width: 1000px){
    :host {
        width: 100vmin;
    }
    
    #cardContainer {

        display: grid;
        grid-template-columns: 250px 250px;
        grid-template-rows: 350px 350px;
        
    }
}

@media only screen and (max-width: 550px){
    :host {
        width: 100vmin;
    }
    
    #cardContainer {

        display: grid;
        grid-template-columns: 250px;
        grid-template-rows: 350px 350px 350px 350px;
        
    }
}