<div id="projectContainer" *ngIf="project!=null">
  <div id="nav">

  </div>
  <div id="content">
    <h2 id="name">{{this.project.name}}</h2>
    <p id="description">{{this.project.description}}</p>

    <h3>Project Images:</h3>
    <div id="imgContainer">
      <button id="left" md-button (click)="this.Roll(-1)">
        <i class="mdi mdi-chevron-left mdi-24px" style="color: black;"></i>
      </button>
      <div id="images">
          <img *ngFor="let image of this.images" src="{{image}}" [ngClass]="{ selected : (image == this.images[curImg]) }">
      </div>
      <button id="right" md-button (click)="this.Roll(1)">
        <i class="mdi mdi-chevron-right mdi-24px" style="color: black;"></i>
      </button>
    </div>

    <div id="skillsContiner">

    </div>

  </div>

</div>

<div id="noProjectContainer" *ngIf="project==null">
  <h1>No Project Selected</h1>
  <a href="/" class="mat-button" md-raised-button><span>Home Page</span></a>
</div>
