<div id="projectContainer" *ngIf="this.project!=null">
  <div id="nav">

  </div>
  <div id="content">
    <h2 id="name">{{this.project.name}}</h2>
    <p id="description">{{this.project.description}}</p>

    <h3>Project Images:</h3>
    <div id="imgContainer">
      <button id="left" md-button (click)="this.Roll(-1)">
        <i class="mdi mdi-chevron-left mdi-24px" style="color: black;"></i>
      </button>
      <div id="images">
          <a *ngFor="let image of this.images" href="{{image}}"> 
            <img 
              src="{{image}}"  
              [ngClass]="{ selected : (image == this.images[curImg]) }">
          </a>
      </div>
      <button id="right" md-button (click)="this.Roll(1)">
        <i class="mdi mdi-chevron-right mdi-24px" style="color: black;"></i>
      </button>
    </div>

    <div id="skillsContiner">
      <h3>Skills used for Project:</h3>
      <div id="list">
        <h5 *ngFor="let skill of this.project.skills">{{skill.name}}</h5>
    </div>

  </div>

</div>

<div id="noProjectContainer" *ngIf="this.project==null">
  <h1>No Project Selected</h1>
  <a href="/" class="mat-button" md-raised-button><span>Home Page</span></a>
</div>
