/* host {} */

#projectContainer {
    display: grid;
    width: 100%;
    margin-top: 1%;
}

#noProjectContainer {
    width: 100%;
    padding: 3% 0;
    display: flex;

    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}

a.navButton {
    margin-top: 2%;
    background-color: #3b8dc4;
    color: #fff;
}

.img-cont-header {
    color: #fff;
}

.roll-button {
    color: #fff;
}

#images { 
    position: relative;
}

img {
    padding: 0;
    max-width: 100%;

    transition: opacity 1s ease-in-out;
    opacity: 0; 
}

.selected {
    opacity: 1;
}

/* Computer */



/* Mobile */

@media only screen and (max-width: 500px) {

    #projectContainer {
        grid-template-rows: 1fr 1fr;

    }

    /* Nav */

    #nav {
        grid-row: 2;
    }


    /* Content */
    #content {
        grid-row: 1;

      display: flex;  
      flex-direction: column ;

    }

    .block {
        margin-bottom: 5%;
    }

    h2#name {
        width: 100%;
        text-align: center;
    }

    #description {
        width: 90%;
        margin: auto;

        text-align: center;
    }

    #images { 
        grid-column: 2/4;
        grid-row: 2;
    }

    img {
        position: absolute;
        width: 100%;
    }
    
    .mobile__block__odds {
        background-color: #3b8dc4; 
    }

    #imgContainer {
        display: grid;
        width: 100vw;
        margin: auto;
        grid-template-columns: 10% 40% 40% 10%;
        grid-template-rows: 45px 105vmin 50px;
    }
    
    h3 { 
        margin: 3% 5%;
    }

    #imgContainer h3 { 
        grid-column: 1/5;
        grid-row: 1;
    }

    #right {
        grid-row: 3;
        grid-column: 3/5;
    }
    
    #left {
        grid-row: 3;
        grid-column: 1/3;
    }

    #list {
        display: flex;
        justify-content: space-around;
    }

    #links{
        display: flex;
        justify-content: space-evenly;
    }
}