/* host {} */

#projectContainer {
    width: 100%;
    margin-top: 1%;
}

#noProjectContainer {
    width: 100%;
    padding: 3% 0;
    display: flex;

    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}

a {
    margin-top: 2%;
    background-color: #3b8dc4;
    color: #fff;
}

/* Computer */



/* Mobile */

@media screen 
and (max-width: 500x) 
and (-webkit-device-pixel-ratio: 3) {

    #projectContainer {
        display: grid;
        grid-template-rows: 100px 100px 90vw;
    }

    h2 #name {
        width: 100%;
        text-align: center;
    }

    #description {
        
    }
}