/* host {} */

#projectContainer {
    display: grid;
    width: 100%;
    margin-top: 1%;
}

#noProjectContainer {
    width: 100%;
    padding: 3% 0;
    display: flex;

    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}

a {
    margin-top: 2%;
    background-color: #3b8dc4;
    color: #fff;
}

#images { 
    position: relative;
}

img {
    padding: 0;
    max-width: 100%;

    transition: opacity 1s ease-in-out;
    opacity: 0; 
}

.selected {
    opacity: 1;
}

/* Computer */



/* Mobile */

@media only screen and (max-width: 500px) {

    #projectContainer {
        grid-template-rows: 1fr 1fr;

    }

    /* Nav */

    #nav {
        grid-row: 2;
    }


    /* Content */
    #content {
        grid-row: 1;

      display: grid;  
      grid-template-rows: 30px ;

    }

    h2#name {
        width: 100%;
        text-align: center;
    }

    #description {
        width: 90%;
        margin: auto;

        text-align: center;
    }

    #images { 
        grid-column: 1/3;
        grid-row: 1;
    }

    img {
        position: absolute;
        width: 100%;
    }
    
    #imgContainer {
        display: grid;
        width: 90vmin;
        margin: auto;
        /* margin-top: 5%; */
        grid-template-columns: 50% 50%;
        grid-template-rows: 120vmin 50px;
    }
    
    h3 { 
        margin: 3% 5%;
    }

    #right {
        grid-row: 2;
        grid-column: 2;
    }
    
    #left {
        grid-row: 2;
        grid-column: 1;
    }

    #list {
        display: flex;
        justify-content: space-around;
    }
}