:host {
    height: 100%;
    display: grid;
    background-color: #3b8dc4;

    padding: 0 20px;

    grid-template-rows: 30px 1fr 60px;
}

h2 {
    grid: 1;

    margin-top: 10px;

    text-align: center;
    color: #fff;
}

div#recents{
    grid: 2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div#additionalBtn {
    grid: 3;
}

button {
    background-color: #fff;
    color: #3a8bc2;
}

@media only screen and (max-width: 920px){
    
    div#recents {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}