:host {
    width: 100%;
    height: 40px;
    
    position: relative;
    z-index: 100;
    display: block;

    overflow: hidden;
    cursor: pointer;
    transition: 2s;
}

p {
    height: 23px;
    margin: 3px;
    box-sizing: border-box;

    position: absolute;
    font-weight: 600;
    color: #000;
    
}


p#years {
    z-index: 600;
    right: 5px;
}

p#name {
    z-index: 500;
}

#bar {
     width: 100%;
     height: 35px;
     box-sizing: border-box;
     background-color: #fff;
     opacity: 1;
     border: 1px dotted #000;

     padding: 5px;

     display: flex;
     flex-direction: row;
     align-content: center;

     transition: 2s;
}

#bar.isHoverTarget {
    border: 1px solid #000;
}

#bar.destroy {
  opacity: 0;
  transform: translate(-100px, 0);
}

.progress {
    width: 100%;
    box-sizing: border-box;

    position: relative;
    z-index: 50;

}

.progVal {
     background-color: #3b8dc4;
}