<div id="bar">
  <div class="progress" id="p11" [ngClass]="{ progVal : progressBar[10] }"></div>
  <div class="progress" id="p10" [ngClass]="{ progVal : progressBar[9] }"></div>
  <div class="progress" id="p09" [ngClass]="{ progVal : progressBar[8] }"></div>
  <div class="progress" id="p08" [ngClass]="{ progVal : progressBar[7] }"></div>
  <div class="progress" id="p07" [ngClass]="{ progVal : progressBar[6] }"></div>
  <div class="progress" id="p06" [ngClass]="{ progVal : progressBar[5] }"></div>
  <div class="progress" id="p05" [ngClass]="{ progVal : progressBar[4] }"></div>
  <div class="progress" id="p04" [ngClass]="{ progVal : progressBar[3] }"></div>
  <div class="progress" id="p03" [ngClass]="{ progVal : progressBar[2] }"></div>
  <div class="progress" id="p02" [ngClass]="{ progVal : progressBar[1] }"></div>
  <div class="progress" id="p01" [ngClass]="{ progVal : progressBar[0] }"></div>
  <p>{{skill.name}}</p>
</div>
