:host {
    width: 100%;
    height: 40px;
    
    position: relative;
    z-index: 100;
    display: block;

    overflow: hidden;
}

#bar {
     width: 100%;
     height: 35px;
     box-sizing: border-box;
     background-color: #fff;
     border: 1px dotted black;

     padding: 5px;

     display: flex;
     flex-direction: row;
     align-content: center;
}

.progress {
    width: 100%;
    height: 25px;
    box-sizing: border-box;

    position: relative;
    z-index: 50;

}

.progVal {
    background-color: green;
}


.hasProgress {
    background-color: #3b8dc4;
}