<!-- Header/Navigator -->
<app-component1></app-component1>
<div class="spacer"></div>

<!-- Content -->
<div id="content">
  <!-- Objective -->
  <div id="objective">
    <h2>Objective:</h2>
  </div>
  <!-- Projects -->
  <div id="projects">Projects</div>
  <!-- Professional Development -->
  <div id="pd">Professional Development</div>
  <!-- Resume -->
  <div id="resume">Resume</div>
  <!-- Contact -->
  <div id="contact">
    <md-card>
      <button md-raised-button><md-icon>build</md-icon></button>
      <input mdInput placeholder="First Name">
    </md-card>
  </div>
</div>