.spacer{
    display: block;
    width: 100%;
    height: 50px;
}

div#content {
    width: 100%;
    display: grid;
    box-sizing: border-box;

    grid-template-rows: 200px 400px 400px 100px 100px 100px;
}

div#content div {
    box-sizing: border-box;
    display: block;
}

div#intro {
    grid-row: 1;
}

div#projects {
    grid-row: 2;
}

div#pd {
    grid-row: 3;
}

div#ed {
    grid-row: 4;
}

div#resume {
    grid-row: 5;
}

div#contact {
    grid-row: 6;
}

@media only screen and (max-width: 1000px){
    div#content {
        width: 100%;
        display: grid;
        box-sizing: border-box;

        grid-template-rows: 200px 750px 500px 100px 100px 100px;
    }
}

@media only screen and (max-width: 920px){
    div#content {
        width: 100%;
        display: grid;
        box-sizing: border-box;

        grid-template-rows: 200px 750px 650px 100px 100px 100px;
    }
}

@media only screen and (max-width: 525px){
    div#content {
        width: 100%;
        display: grid;
        box-sizing: border-box;

        grid-template-rows: 200px 1450px 400px 100px 100px 100px;
    }
}