<div class="wraper">
  
  <button md-button class="menu" [mdMenuTriggerFor]="menu">
    <md-icon>reorder</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item class class="menuBut">
      <span>Projects</span>
    </button>
    <button md-menu-item class="menuBut">
      <span>Professional Development</span>
    </button>
    <button md-menu-item class="menuBut">
      <span>Resume</span>
    </button>
    <button md-menu-item class="menuBut">
      <span>Contact</span>
    </button>
  </md-menu>
  
  <h1 id="MyName">Thomas Kottke</h1>

</div>