<div class="wraper">
  
  <button md-button class="menu" [mdMenuTriggerFor]="menu">
    <md-icon>reorder</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <a href="#projects" style="color: #3a8bc2; text-decoration: none;">
      <button md-menu-item class class="menuBut">
        <a href="#projects"><span>Projects</span></a>
      </button>
    </a>
    <a href="#pd" style="color: #3a8bc2; text-decoration: none;">
      <button md-menu-item class="menuBut">
        <span>Professional Development</span>
      </button>
    </a>
    <a href="#resume" style="color: #3a8bc2; text-decoration: none;">
      <button md-menu-item class="menuBut">
        <span>Resume</span>
      </button>
    </a>
    <a href="#contact" style="color: #3a8bc2; text-decoration: none;">
      <button md-menu-item class="menuBut">
        <span>Contact</span>
      </button>
    </a>
  </md-menu>
  
  <h1 id="MyName">Thomas Kottke</h1>

</div>