:host {
    position: fixed;
    width: 100%;
    height: 50px;

    z-index: 100;
}

.wraper {
    padding: 1px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    position: relative;
    z-index: 50;

    background-color: #3a8bc2;

    display: grid;
    grid-template-columns: 90px 250px 1fr;
}



button.menu {
    width: 50px;
    height: 40px;
    margin: auto;
    box-sizing: border-box;

    position: relative;
    z-index: 100;

    color: #fff;

    grid-column: 1;
}

button.menuBut {
    color: #3a8bc2;
}

button.menuBut:hover{
    color: black;
}

md-menu {
    position: absolute;
    z-index: 1000;
    background-color: #3a8bc2;
    grid-column: 1;
}

#MyName {
    grid-column: 2;
    margin: auto 0;
    color: #fff;
    text-shadow: 0;
    cursor: pointer;

    transition: color 1s ease, text-shadow 1s ease;
}
#MyName:hover {
    color: #3a8bc2;
    text-shadow: 
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}