:host {
    width: 55%;
    min-width: 430px;
    height: 250px;

    position: relative;
    z-index: 10;
}

h2 {
    text-align: center;
    grid-column: 2;
}

button {
    width: 20px;
    height: 30px;
    margin:  auto;
}

button.forward {
    grid-column: 1
}

button.back {
    grid-column: 3;
}

div.skillhead {
    width: 100%;
    height: 50px;
    display: grid;
    position: relative;

    grid-template-columns: 20px 1fr 20px;

}

#scale {
    width: 100%;
    height: 50px;
    position: relative;
    z-index: 50;

    box-sizing: border-box;
    background-color: #fff;

    padding: 5px;


    display: flex;
    flex-direction: row;
    align-content: center;
}

md-card {
    box-sizing: border-box;
    border-radius: 5px;
    height: 250px;

    padding: 10px;
}

.progress {
    width: 100%;
    height: 35px;
    box-sizing: border-box;

    position: relative;
    z-index: 50;

    padding: 10px 0 0 5px;

    border-left: 1px dotted black;
}

