<md-card>
  <div id="scale">
    <div class="progress" id="p11">{{firstYear}}</div>
    <div class="progress" id="p10"></div>
    <div class="progress" id="p09"></div>
    <div class="progress" id="p08"></div>
    <div class="progress" id="p07"></div>
    <div class="progress" id="p06">{{midYear}}</div>
    <div class="progress" id="p05"></div>
    <div class="progress" id="p04"></div>
    <div class="progress" id="p03"></div>
    <div class="progress" id="p02"></div>
    <div class="progress" id="p01">{{currentYear}}</div>
  </div>
  <app-skill></app-skill>
</md-card>
